<!DOCTYPE html>
<html>
<head>
	<title>homework</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
<header></header>
<nav class="headnav"></nav>
<section class="aboutUs"></section>
<section class="who"></section>
<section class="ourWork"></section>
<p class="strive"></p>
<section class="elaborate"></section>
<p class="weHelp"></p>
<section class="col3"></section> <!-- col3 -->
<section class="fot2"></section>
<p class="west"></p>
<section class="ourLove"></section>
<p class="read"></p>

<section class="gradient">
	<p class="h1grad"></p>
	<section class="team">
	</section> <!-- team -->
	<p class="h1grad"></p>
	<section class="company"></section><!-- company -->
	<br class="bigbr">
	<p class="read"></p>
	<nav class="footernav"></nav>
	<br class="smallbr">
	<section class="contacts"></section>
	<p class="rights"></p>
</section> <!-- gradient -->

<footer></footer>
</body>
</html>